<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%= title %></title>
    <link rel="stylesheet" href='<%= stylesheeturl %>'>
    <style>
        <%- styleraw %>
    </style>
</head>
<body>
<div class="container">
    <%- content %>
</div>
<script defer="defer" type="text/javascript" src='<%= jsscripturl %>'></script>
<script defer="defer"><%= jsraw %></script>
</body>
</html>